//  Base styles
html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $body-bg;
  color: $text-color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: none;
    color: $link-color--hover;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

section {
  position: relative;
}

.page-container {
  max-width: $container-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $container-padding;
  padding-right: $container-padding;
}

.icon {
  display: inline-block;
}

ul {
  list-style: none;
}

h1,h2,h3,h4 {
  margin: 0;
}

p {
  margin: 0;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;

  @include max-w(992px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @include max-w(768px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.link {
  color: $text-color-main;
  font-family: $font-family--nav;
  font-size: 12px;
  font-weight: font-weight--lite;
  text-transform: uppercase;
}




