.box-container {
  display: flex;

  @include max-w(992px) {
    flex-direction: column;
    flex: 0 0 30%;
  }
}

.box {
  padding-right: 61px;
  padding-left: 61px;
  display: flex;
  flex: 0 0 0.33.333%;

  @include max-w(992px) {
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
 }


.item-block {
  padding-right: 20px;
}

.text-block {

  @include max-w(992px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__title-align {
    padding-bottom: 25px;

    @include max-w(992px) {
      padding-bottom: 10px;
    }

    &--p25 {
      padding-top: 25px;
    }
  }

  &__paragraph-align {
    max-width: 236px;
  }

}
