// Buttons
.btn {
  display: inline-block;
  vertical-align: middle;
  background: none;
  outline: 0 none;
  border: 0 none;
  border-radius: 0;
  text-transform: uppercase;
  cursor: pointer;

  &:focus {
    box-shadow: none;
  }
}


.btn-register {
    background-color: #000000;
    color: #ffffff;
    font-family: Aleo;
    font-size: 14px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    padding: 1px 40px;
    margin-top: 30px;

    @include max-w(768px) {
      padding:0 15px;
      font-size: 10px;
    }
}
