.launching-section {
  
}


.launching-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../../images/Launching.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 650px;

  @include max-w(992px) {
    min-height: 450px;
  }
  @include max-w(768px) {
    min-height: 350px;
  }
  @include max-w(448px) {
    min-height: 200px;
  }

  &__title {
    color: #ffffff;
    font-family: "Abril Fatface";
    // font-size: $font-size--h1;
    @include fluid-font(25px, 80px, 320px, 1920px);
    font-weight: 400;

  }

  &__span {
    letter-spacing: 4px;
  }

}
